.version.index /* version checker */
{
	color: #00001F;
	background-color: #1A7A9C;
}

#page
{
	z-index: 1;
	min-height: 695px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u1757
{
	z-index: 2;
	padding-bottom: 422.26700071581956px;
	position: relative;
	margin-right: -10000px;
	margin-top: -25px;
	width: 108.75%;
	left: -4.38%;
}

#u1397
{
	z-index: 9;
	position: relative;
	width: 100%;
}

#u1303
{
	z-index: 10;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	width: 100%;
}

#u1304
{
	z-index: 11;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#pu1367
{
	margin-top: 19px;
	width: 57.57%;
	margin-left: 9.97%;
}

#u1367
{
	z-index: 7;
	position: relative;
	margin-right: -10000px;
	width: 31.29%;
}

#u1566
{
	z-index: 12;
	min-height: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	width: 33.28%;
	left: 66.73%;
}

#u1027-4
{
	z-index: 3;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	width: 26.36%;
	left: 71.57%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	margin-bottom: -38px;
	min-height: 1px;
}

#u1367_img
{
	width: 100%;
}

